/* --------------------------------------------------- 6 ----------------------------------------------------- */

/*** CORPORATE NEWS BLOCKS 3 COL TYPE ****/
/* ANY SIZE WILL DO FOR COLUMNS 1 AND 4 . FOR THE BOXES WE A USE ANY SIZE BUT THEY ALL MUST BE THE SAME SIZE*/

/* --------------------------- 6 ----------------------------------- */

/*** CORPORATE NEWS BLOCKS 3 COL TYPE ****/
/********** CAN USE ANY IMAGE SIZES. IDEALLY A RESOLUTION OF 457X361 (MINIMUM) ALL PHOTOS SHOULD BE OF THE SAME SIZE  ****************************************/
.row-eq-height-mobileonly {
    display: flex;
}
.wizdom-sliderCont {
    background:#00354e;
}
#NewsBlocksType5 {} /* ADD YOUR EMBEDDED STYLES HERE */
#NewsBlocksType5 .CorporateNewsBlocks4ColType {
    margin:0 auto;
    width:100%;
    padding: 0 30px;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColType > div {}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColType-Img {
    position:relative;
    padding: 0;
    margin: 0;
    width: 100%;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol1 {
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol3 {
    padding-right:0;
    position: relative;
}
 
#NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColType-Content .CorporateNewsBlocks4ColType-date {
    font-size:15px;
    margin-bottom:15px;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColType-Img  img {
    max-width: 100%;
    width: 100%;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColType-Content {
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColType-Content h2 {
    font-weight:bold;
    color:#005b8e;
    font-size:18px;
    margin:0 0 15px 0;
    height: 40px;
}
 
 
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol2 > div  {
    margin-right:15px;
    margin-bottom:30px;
    height: 228px;
    padding: 0;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol2 > div > div.contentBlockRight {
    margin-left:15px;
    margin-bottom:30px;
    margin-right: 0;
    height: 228px;
    padding: 0;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol3 > div  {
    margin-right:15px;
    margin-top: 30px;
    height: 230px;
    padding: 0;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol3 > div > div.contentBlockRight {
    margin-left:15px;
    margin-top: 30px;
    padding: 0;
}
 
 
#NewsBlocksType5 .CorporateNewsBlocks4ColType  .btn-trans:hover,
#NewsBlocksType5 .CorporateNewsBlocks4ColType  .btn-trans:focus,
#NewsBlocksType5 .CorporateNewsBlocks4ColType  .btn-trans:active,
#NewsBlocksType5 .CorporateNewsBlocks4ColType  .btn-trans.active,
#NewsBlocksType5 .CorporateNewsBlocks4ColType div.contentBlockRight .btn-trans:hover,
#NewsBlocksType5 .CorporateNewsBlocks4ColType div.contentBlockRight .btn-trans:focus,
#NewsBlocksType5 .CorporateNewsBlocks4ColType div.contentBlockRight .btn-trans:active,
#NewsBlocksType5 .CorporateNewsBlocks4ColType div.contentBlockRight .btn-trans.active {
    background:#fff;
    color:#005b8e;
}
 
#NewsBlocksType5 .CorporateNewsBlocks4ColType  .btn-trans:hover > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColType  .btn-trans:active > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColType  .btn-trans:focus > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColType  .btn-trans.active > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColType div.contentBlockRight .btn-trans:hover > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColType div.contentBlockRight .btn-trans:active > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColType div.contentBlockRight .btn-trans:focus > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColType div.contentBlockRight .btn-trans.active > i {
    color:#005b8e;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock1 {
    background: #fff;
    padding: 0;
    /* overflow: hidden; */
    /* margin-right: 0; */
}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock2 {}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock3 {}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock4 {
    background: #fff;
    height: 230px;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock5 {background: #fff;margin: 0;padding: 0;border: 0;height: 228px;}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock5 + div,
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock5 + div + div {padding: 0 0 0 0}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock6 {}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock7 > div {
    display:table;
    width:100%;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock7 > div > div {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    height: 224px;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock7 > div > div .btn-primary,
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock7 > div > div .btn-primary:hover {
    border:none;
    background:transparent;
    color:#fff;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock7 > div > div .btn-primary:after  {
    background:url(https://cfcloud.sharepoint.com/:i:/r/sites/WizdomDemo/Style%20Library/images/icons/nav-btn-arrow-white.png) no-repeat!important;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock8 {
    margin-top:30px;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol2 {
    padding-left: 30px;
    padding-right: 30px;
}
@media all and (max-width:1199px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColType {
        padding: 0 15px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol2 {
        padding-right: 0;
        padding-left: 15px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColType-Content h2 {
        height:60px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColTypeCol1, #NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColTypeCol2 {
        margin:0;
        /* background: #fff; */
        padding: 7.5px;
    }
}

@media all and (min-width:768px) and (max-width:1199px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock5 + div,
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock5 + div + div {padding: 0 0 0 15px}
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock5 + div {
        padding: 0 0 0 15px;
    }
     
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColTypeCol2 > div:first-child {
        background:#00354e;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColTypeCol2 {
        padding-left: 0;
        border-left: 15px solid #00354e;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol2 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol2 > div > div.contentBlockRight,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol3 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol3 > div > div.contentBlockRight   {
        margin-top:0;
        padding: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol2 > div ,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol2 > div > div.contentBlockRight {
        margin-bottom:15PX;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol3 {
        margin-top: 15px;
    }
}
@media all and (max-width:991px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColType-Content h2 {
        font-size:14px;height:40px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColType-Content .CorporateNewsBlocks4ColType-date {
        font-size:12px;
    }
   
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol3 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol3 > div > div.contentBlockRight {
        height: 228px;
    }
}
@media all and (max-width:1400px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColType  .btn-trans,
    #NewsBlocksType5 .CorporateNewsBlocks4ColType div.contentBlockRight .btn-trans {
        padding: 2px 5px;
        font-size: 12px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType  .btn-trans > i,
    #NewsBlocksType5 .CorporateNewsBlocks4ColType div.contentBlockRight .btn-trans > i {
        font-size: 11px!important;
        vertical-align: middle;
        margin: 0 5px 0 0;
    }  
}
@media all and (min-width:991px) and (max-width:1199px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol2 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol2 > div > div.contentBlockRight,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol3 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol3 > div > div.contentBlockRight   {
        height:228px;
    }
}
@media all and (max-width:767px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock1,
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock4,
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock5 {
        background:transparent;
        min-height: auto;
        height: auto;
        margin: 0 0 15px 0;
    }  
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .NewsBlock7 > div > div {
        height:170px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType {
        float: left;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol2 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol2 > div > div.contentBlockRight,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol3 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol3 > div > div.contentBlockRight  
    {
        margin: 0 0 15px 0;
        padding-left:0;
        padding-right:0;
        height: 170px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType > div > div {
        /* margin: 0; */
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType > div {
        float: left;
        margin: 0 0 15px 0;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol2 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeCol3 > div {
         border-right: 15px solid #01354d;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColTypeCol2 {
        margin: 0;
     }

}
@media all and (min-width:1200px) {
    .wizdom-sliderCont {
        /* ADD BACKGROUND FOR LARGER SIZES HERE */
        /*   background:url(../images/sea.png); */
    }
}

/* 2 */

/* --------------------------------------------- 6.1 ---------------------------------------- */
 
.row-eq-height-mobileonly {
    display: flex;
}
.wizdom-sliderCont {
    background: #d8e5ec;
}
#NewsBlocksType5 {} /* ADD YOUR EMBEDDED STYLES HERE */
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans {
    margin:0 auto;
    width:100%;
    padding: 0 30px;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans > div {
    margin: 0 0 30px 0;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTrans-Img {
    position:relative;
    padding: 0;
    margin: 0;
    width: 100%;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background: rgba(0,0,0, 0.3);
    height: 100%;
}
.NewsBlock10 {
    margin-top:30px;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol1 > div {position: relative;vertical-align: bottom;}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol3 {
    padding-right:0;
    position: relative;
}
 
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTrans-Content .CorporateNewsBlocks4ColTypeTrans-date {
    font-size:15px;
    margin-bottom:15px;
    color: #fff;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTrans-Img  img {
    max-width: 100%;
    width: 100%;
    /* height: 100%; */
    /* max-height: 100%; */
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTrans-Content {
    padding: 25px;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    left: 0;
    right: 0;
    height: 100%;
    background:  transparent;
    height: 170px;
    vertical-align: bottom;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTrans-Content h2 {
    font-weight:bold;
    color: #fff;
    font-size:18px;
    margin:0 0 15px 0;
    height: 40px;
}
 
 
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol2 > div  {
    margin-right:15px;
    margin-bottom:30px;
    height: 228px;
    padding: 0;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol2 > div > div.contentBlockRight {
    margin-left:15px;
    margin-bottom:30px;
    margin-right: 0;
    height: 228px;
    padding: 0;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol3 > div  {
    margin-right:15px;
    margin-top: 30px;
    height: 230px;
    padding: 0;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol3 > div > div.contentBlockRight {
    margin-left:15px;
    margin-top: 30px;
    padding: 0;
}
 
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans:hover,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans:focus,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans:active,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans.active,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans div.contentBlockRight .btn-trans:hover,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans div.contentBlockRight .btn-trans:focus,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans div.contentBlockRight .btn-trans:active,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans div.contentBlockRight .btn-trans.active {
    color:#fff;
    font-size:13px;
}
 
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans:hover > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans:active > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans:focus > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans.active > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans div.contentBlockRight .btn-trans:hover > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans div.contentBlockRight .btn-trans:active > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans div.contentBlockRight .btn-trans:focus > i,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans div.contentBlockRight .btn-trans.active > i {
    color:#005b8e;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock1 {
    background: #fff;
    padding: 0;
    /* overflow: hidden; */
    /* margin-right: 0; */
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock2 {}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock3 {}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock4 {
    background: #fff;
    height: 230px;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock5 {background: #fff;margin: 0;padding: 0;border: 0;height: 228px;}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock5 + div,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock5 + div + div {padding: 0 0 0 0}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock6 {}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock7 > div {
    display:table;
    width:100%;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock7 > div > div {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    height: 224px;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock7 > div > div .btn-primary,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock7 > div > div .btn-primary:hover {
    border:none;
    background:transparent;
    color:#fff;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock7 > div > div .btn-primary:after  {
    background:url(https://cfcloud.sharepoint.com/:i:/r/sites/WizdomDemo/Style%20Library/images/icons/nav-btn-arrow-white.png) no-repeat!important;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock8 {
    margin-top:30px;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol2 {
    padding-left: 30px;
    padding-right: 30px;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans:hover,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans:focus{
        padding: 5px 7px;
        font-size: 12px;
        color: #fff;
        background:transparent;
}
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans i,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans:hover i,
#NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans:focus i {
        color:#fff;
}
@media all and (max-width:1199px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans {
        padding: 0 15px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans > div {
        margin: 0;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol2 {
        padding-right: 0;
        padding-left: 15px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTrans-Content h2 {
        height: 50px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTransCol1, #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTransCol2 {
        margin:0;
        /* background: #fff; */
        padding: 7.5px;
    }
}

@media all and (min-width:768px) and (max-width:1199px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock5 + div,
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock5 + div + div {padding: 0 0 0 15px}
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock5 + div {
        padding: 0 0 0 15px;
    }
     
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTransCol2 > div:first-child {
        background:#00354e;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTransCol2 {
        padding-left: 0;
        border-left: 15px solid #00354e;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol2 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol2 > div > div.contentBlockRight,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol3 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol3 > div > div.contentBlockRight   {
        margin-top:0;
        padding: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol2 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol2 > div > div.contentBlockRight {
        margin-bottom:15PX;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol3 {
        margin-top: 15px;
    }
}
@media all and (max-width:991px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTrans-Content h2 {
        font-size:14px;height:40px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTrans-Content .CorporateNewsBlocks4ColTypeTrans-date {
        font-size:12px;
    }
   
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol3 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol3 > div > div.contentBlockRight {
        height: 228px;
    }
     
}
@media all and (max-width:1400px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans  .btn-trans > i,
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans div.contentBlockRight .btn-trans > i {
        font-size: 11px!important;
        vertical-align: middle;
        margin: 0 5px 0 0;
    }  
}
@media all and (min-width:991px) and (max-width:1199px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol2 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol2 > div > div.contentBlockRight,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol3 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol3 > div > div.contentBlockRight   {
        height:228px;
    }
}
@media all and (max-width:767px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock1,
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock4,
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock5 {
        background:transparent;
        min-height: auto;
        height: auto;
    }  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .NewsBlock7 > div > div {
        height:170px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans {
        float: left;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol2 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol2 > div > div.contentBlockRight,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol3 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol3 > div > div.contentBlockRight  
    {
        margin: 0 0 15px 0;
        padding-left:0;
        padding-right:0;
        height: 170px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans > div > div {
        /* margin: 0; */
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans > div {
        float: left;
        margin: 0;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol2 > div,  
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTransCol3 > div  {
         border-right: 15px solid #01354d;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTransCol2 {
        margin: 0;
     }

}
@media all and (min-width:1200px) {
    .wizdom-sliderCont {
        /* ADD BACKGROUND FOR LARGER SIZES HERE */
        /*   background:url(../images/sea.png); */
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTrans-Img {
        max-height: 303px;
        overflow: hidden;
    }
}
@media all and (max-width:479px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTransCol1, #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTransCol2 {
        width:100%;
    }
}

.row-eq-height-mobileonly {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
@media all and (min-width:768px) {
    .row-eq-height-no-xs {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.wizdom-sliderCont {
    background:#00354e;
}
#NewsBlocksType5 > div {
    padding:0;
} /* ADD YOUR EMBEDDED STYLES HERE */
#NewsBlocksType5  .topStory {
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     color: #fff;
     font-weight: bold;
     padding: 3px;
     background: #333;
     position: absolute;
     top: 13px;
     left: 14px;
     padding: 5px 8px;
     font-size: 12px;
}
@media (max-width: 1199px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTransCol1,
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTransCol2 {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 291px;
    }
}
@media (max-width: 1199px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColTypeCol1,
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColTypeCol2 {
        margin: 0;
        /* background: #fff; */      
        padding: 0 7.5px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans {
        padding-bottom:7.5px;
    }
}
@media all and (min-width:768px) and (max-width:991px) {
 
    #NewsBlocksType5 .CorporateNewsBlocks4ColType.NewsBlocksType5Col3 .CorporateNewsBlocks4ColTypeCol1:first-child {
        height: 281px;
        overflow: hidden;
        margin-bottom: 15px;
        background: #fff;
    }
}

 
@media all and (max-width:767px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans {
        padding: 0 0 7.5px 0;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType.NewsBlocksType5Col3 .CorporateNewsBlocks4ColTypeCol1 {
        padding: 7.5px!important;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTransCol1, #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTransCol2 {
        height:auto!important;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColTypeCol1, #NewsBlocksType5 .CorporateNewsBlocks4ColType .CorporateNewsBlocks4ColTypeCol2 {
        padding:7.5px;
    }
}
@media all and (min-width:768px) {
     
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans {
        padding: 0 0 7.5px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTrans-Img {
        height: 284px;
        overflow:hidden;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans.NewsBlocksType5Col4 {
        padding-left: 0;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType {
        padding: 0 15px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType.NewsBlocksType5Col3 {
        padding-right: 15px;
        padding-left: 0;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media all and (min-width:992px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColType.NewsBlocksType5Col3 .CorporateNewsBlocks4ColTypeCol1:first-child {
        padding-left:0;
        padding-right: 7.5px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType.NewsBlocksType5Col3 .CorporateNewsBlocks4ColTypeCol1:nth-child(2n) {
        padding-right:0;
        padding-left: 7.5px;
    }
}
@media (max-width: 1199px) {
    #NewsBlocksType5 .CorporateNewsBlocks4ColType {
        padding: 0 7.5px;
    }
    #NewsBlocksType5  .CorporateNewsBlocks4ColType.NewsBlocksType5Col3 .CorporateNewsBlocks4ColTypeCol1 {
        padding-top:0;
        padding-bottom:15px;
        padding-right: 0;
        padding-left: 0;
    }
}
 
@media (min-width: 1200px) {
    #NewsBlocksType5 {
        padding:0 15px;
    }
    #NewsBlocksType5 > div {
        padding:0 15px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType.NewsBlocksType5Col3 {
        padding-right: 0;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans {
        padding:0;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans.NewsBlocksType5Col4 {
        margin-top:30px;
    }
    #NewsBlocksType5 .NewsBlocksType5Col2 {
        padding: 0;
    }
    #NewsBlocksType5 .NewsBlocksType5Col2 > div:first-child {
       padding-left:0;
    }
    #NewsBlocksType5 .NewsBlocksType5Col2 > div:nth-child(2n) {
       padding-right:0;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType.NewsBlocksType5Col3 .CorporateNewsBlocks4ColTypeCol1:first-child {
        padding-right:15px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColType.NewsBlocksType5Col3 .CorporateNewsBlocks4ColTypeCol1:nth-child(2n){
        padding-left:15px;
    }
    #NewsBlocksType5 .CorporateNewsBlocks4ColTypeTrans .CorporateNewsBlocks4ColTypeTrans-Img {
        height: 313px;
        max-height: 313px;
    }
}

 