
/* ---------------------------------------- 2 ----------------------------------------- */


/*** CORPORATE NEWS BLOCKS 3 COL TYPE WITH CAROUSEL ****/
/********** CAN USE ANY IMAGE SIZES. THE FIRST IMAGE FOR CAROUSEL IDEALLY SHOULD HAVE A 370PX HEIGHT . FOR COLUMNS 2 AND 3 TO APPER AS WHOLE THE images M U S T BE 110PX HEIGHT AND 490PX WIDTH OTHERWISE THEY WILL BE CUT ****************************************/
.row-eq-height-mobileonly {
    display: flex;
}
.wizdom-sliderCont {
    background:#00354e;
}
#NewsBlocksTypeCarousel {} /* ADD YOUR EMBEDDED STYLES HERE */
#NewsBlocksTypeCarousel .carousel {border:0;}
#NewsBlocksTypeCarousel .carousel-inner {
    height:auto!important;
}
#NewsBlocksTypeCarousel  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev,
#NewsBlocksTypeCarousel  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    background:transparent!important;
    color:#fff!important;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType {
    margin:0 auto;
    width:100%;
    padding: 0 30px;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType > div {}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColType-Img {
    position:relative;
    padding: 0;
    margin: 0;
    width: 100%;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock4 .CorporateNewsBlocksCarouselColType-Img,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock5 .CorporateNewsBlocksCarouselColType-Img
 {
    height: 110px;
    overflow: hidden;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol1 {
    padding-left:0
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol3 {
    padding-right:0;
    position: relative;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColType-Img .CorporateNewsBlocksCarouselColType-date {
    padding: 15px 20px;
    color:#000;
    background:#fff;
    position:absolute;
    top:0;
    font-size: 16px;
    left:0;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColType-Content .CorporateNewsBlocksCarouselColType-date {
    font-size:15px;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColType-Img  img {
    max-width: 100%;
    width: 100%;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColType-Content {
    padding: 15px;
    box-sizing: border-box;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColType-Content h2 {
    font-weight:bold;
    color:#005b8e;
    font-size:18px;
    margin:0 0 15px 0;
}
 
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColType-Content h4 {
    font-size:16px;
    font-weight: 700;
    margin: 20px 0;
    color:#fff;
    line-height: 1.4em;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol2 > div > div.contentBlockLeft {
    margin-right:15px;
    margin-bottom:30px;
    height: 228px;
    padding: 0;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol2 > div > div.contentBlockRight {
    margin-left:15px;
    margin-bottom:30px;
    margin-right: 0;
    height: 228px;
    padding: 0;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol3 > div > div.contentBlockLeft {
    margin-right:15px;
    margin-top: 30px;
    height: 230px;
    padding: 0;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol3 > div > div.contentBlockRight {
    margin-left:15px;
    margin-top: 30px;
    padding: 0;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockLeft .btn-trans,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockRight .btn-trans {
    color:#fff;
    border-color:#fff;
    height:auto;
}
 
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockLeft .btn-trans:hover,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockLeft .btn-trans:focus,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockLeft .btn-trans:active,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockLeft .btn-trans.active,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockRight .btn-trans:hover,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockRight .btn-trans:focus,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockRight .btn-trans:active,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockRight .btn-trans.active {
    background:#fff;
    color:#005b8e;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockLeft .btn-trans > i,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockRight .btn-trans > i {
    color:#fff;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockLeft .btn-trans:hover > i,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockLeft .btn-trans:active > i,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockLeft .btn-trans:focus > i,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockLeft .btn-trans.active > i,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockRight .btn-trans:hover > i,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockRight .btn-trans:active > i,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockRight .btn-trans:focus > i,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockRight .btn-trans.active > i {
    color:#005b8e;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock1 {
    background: #fff;
    padding: 0;
    height:auto;
    /* overflow: hidden; */
    /* margin-right: 0; */
}
@media all and (min-width:768px) {
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock1 {
        background: #fff;
        padding: 0;
        height:458px; 
    }
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock2 {}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock3 {}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock4 {
    background: #fff;
    height: 230px;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock5 {background: #fff;margin: 0;padding: 0;border: 0;height: 228px;}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock5 + div,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock5 + div + div {padding: 0 0 0 0}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock6 {}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock7 > div {
    display:table;
    width:100%;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock7 > div > div {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    height: 224px;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock7 > div > div .btn-primary,
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock7 > div > div .btn-primary:hover {
    border:none;
    background:transparent;
    color:#fff;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock7 > div > div .btn-primary:after  {
    background:url(https://cfcloud.sharepoint.com/:i:/r/sites/WizdomDemo/Style%20Library/images/icons/nav-btn-arrow-white.png) no-repeat!important;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock8 {
    margin-top:30px;
}
#NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol2 {
    padding-left: 30px;
    padding-right: 30px;
}
@media all and (max-width:1199px) {
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType {
        padding: 0 15px;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol2 {
        padding-right: 0;
        padding-left: 15px;
    }
}

@media all and (min-width:768px) and (max-width:1199px) {
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock5 + div,
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock5 + div + div {padding: 0 0 0 15px}
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock5 + div {
        padding: 0 0 0 15px;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColTypeCol1, #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColTypeCol2 {
        margin:0;
        min-height: 550px;
        background: #fff;
        overflow: hidden;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColTypeCol2 > div:first-child {
        background:#00354e;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColTypeCol2 {
        padding-left: 0;
        border-left: 15px solid #00354e;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol2 > div > div.contentBlockLeft,  
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol2 > div > div.contentBlockRight,  
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol3 > div > div.contentBlockLeft,  
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol3 > div > div.contentBlockRight   {
        margin-top:0;
        padding: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol2 > div > div.contentBlockLeft,  
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol2 > div > div.contentBlockRight {
        margin-bottom:15PX;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol3 {
        margin-top: 15px;
    }
}
@media all and (max-width:991px) {
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColType-Content h4 {
        font-size:13px;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColType-Content .CorporateNewsBlocksCarouselColType-date {
        font-size:12px;
    }
   
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol3 > div > div.contentBlockLeft,  
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol3 > div > div.contentBlockRight {
        height: 228px;
    }
}
@media all and (max-width:1400px) {
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockLeft .btn-trans,
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockRight .btn-trans {
        padding: 2px 5px;
        font-size: 12px;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockLeft .btn-trans > i,
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType div.contentBlockRight .btn-trans > i {
        font-size: 11px!important;
        vertical-align: middle;
        margin: 0 5px 0 0;
    }  
}
@media all and (min-width:991px) and (max-width:1199px) {
    #NewsBlocksTypeCarousel {
        padding:0 15px;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol2 > div > div.contentBlockLeft,  
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol2 > div > div.contentBlockRight,  
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol3 > div > div.contentBlockLeft,  
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol3 > div > div.contentBlockRight   {
        height:228px;
    }
}
@media all and (max-width:767px) {
    #NewsBlocksTypeCarousel {
        padding:0;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock1,
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock4,
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock5 {
        background:transparent;
        min-height: auto;
        height: auto;
        margin: 0 0 15px 0;
    }  
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock7 > div > div {
        height:170px;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType {
        padding:15px;
        float: left;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol2 > div > div.contentBlockLeft,  
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol2 > div > div.contentBlockRight,  
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol3 > div > div.contentBlockLeft,  
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol3 > div > div.contentBlockRight  
    {
        margin: 0 0 15px 0;
        padding-left:0;
        padding-right:0;
        height: 170px;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType > div > div {
        margin: 0;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType > div {
        padding: 0;
        float: left;
        margin: 0 0 15px 0;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol2 > div > div.contentBlockLeft,  
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColTypeCol3 > div > div.contentBlockLeft {
         border-right: 15px solid #01354d;
    }
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .CorporateNewsBlocksCarouselColTypeCol2 {
        margin: 0;
     }

}
@media all and (min-width:1200px) {
    .wizdom-sliderCont {
        /* ADD BACKGROUND FOR LARGER SIZES HERE */
        /*   background:url(../images/sea.png); */
    }
}
    @media all and (min-width:768px) {
    #NewsBlocksTypeCarousel .CorporateNewsBlocksCarouselColType .NewsBlock1 {
        padding: 0;
        height:488px; 
    }
}


