/************************ MY TASKS ***********************/

.wizdom-myTasks {
	padding: 0
}

.wizdom-myTasks>.row {
	border-bottom: 1px solid #ccc;
	margin-left: 0;
	margin-right: 0;
	margin: 0 0 20px 0;
}

.wizdom-myTasks p {
	margin: 7px 0 0;
}

.wizdom-myTasks p:first-child {
	margin-top: 0;
}

.wizdom-myTasksImage {
	display: table-cell;
	vertical-align: top;
}
.wizdom-myTasksImage .taskStatus {
    width:20px;
    height:20px;
    background:url(https://cfcloud.sharepoint.com/:i:/r/sites/WizdomDemo/Style%20Library/images/icons/task-undone.png);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.s ease-in all;
}
.wizdom-myTasksImage .taskStatus.done {
    width:20px;
    height:20px;
    background:url(https://cfcloud.sharepoint.com/:i:/r/sites/WizdomDemo/Style%20Library/images/icons/task-done.png)
}
.wizdom-myTasksImage img.small {
	max-width: 140px;
}

.wizdom-myTasksContent {
	position: relative;
	display: table-cell;
	vertical-align: top;
	padding: 20px 20px 15px;
	padding-top: 0;
}

.wizdom-myTasksContent p.text {
	WORD-WRAP: BREAK-WORD;
	OVERFLOW: HIDDEN;
	margin: 0 0 15px 0;
}

.wizdom-myTasksContent .btn:hover {
	background: none!important;
}

.wizdom-myTasksContent .myWizdomButtons {
	/*position:absolute;
         bottom:15px;
         */
}

.wizdom-myTasksContent .date {
	font-weight: 500;
	margin: 0;
}

.wizdom-myTasksContent .info {
	color: #999;
	display: inline-block;
	font-size: 14px;
	padding: 0;
	margin: 0 0 15px 0;
}

.wizdom-myTasksContent .text {
	color: #005b8e;
	font-size: 18px;
	line-height: 20px!important;
	font-weight: 500;
	width: auto;
	height: auto;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
}
.wizdom-myTasksContent .text.done a {
    text-decoration:line-through;
    color:#000;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.wizdom-myTasksContent .favourites {
	margin-top: 10px;
}

.wizdom-myTasksContent .favourite {
	transition: 0.3s ease-in all;
	font-size: 14px;
	background: url(https://cfcloud.sharepoint.com/:i:/r/sites/WizdomDemo/Style%20Library/images/icons/fav-inactive.png) no-repeat;
	color: #000;
	padding-left: 20px;
	margin-right: 10px;
}

.wizdom-myTasksContent .favourite:hover,
.wizdom-myTasksContent .favourite.active {
	background: url(https://cfcloud.sharepoint.com/:i:/r/sites/WizdomDemo/Style%20Library/images/icons/fav-active.png) no-repeat;
	text-decoration: none
}

.wizdom-myTasksContent .invite {
	transition: 0.3s ease-in all;
	font-size: 14px;
	background: url(https://cfcloud.sharepoint.com/:i:/r/sites/WizdomDemo/Style%20Library/images/icons/invite.png) no-repeat;
	color: #000;
	padding-left: 20px;
	background-position: left 34%;
}

.wizdom-myTasksContent .invite:hover,
.wizdom-myTasksContent .invite.active {
	background: url(https://cfcloud.sharepoint.com/:i:/r/sites/WizdomDemo/Style%20Library/images/icons/invite-active.png) no-repeat;
	text-decoration: none;
    background-position: left 34%;
}

.wizdom-myTasksContent .text a {
	color: #1f3c69;
	font-size: 18px;
}

.wizdom-myTasksContent .comments a {
	margin-right: 15px;
}

@media all and (max-width:767px) {
	.wizdom-myTasksImage img.small,
	.wizdom-myTasksImage img {
		max-width: 130px!important;
	}
}

@media all and (max-width:1199px) {
	.wizdom-myTasks {
		/* background: #fff; */
		padding: 15px;
	}
	.wizdom-myTasks>.row {
		margin-bottom: 25px;
		background: transparent;
		border: 0;
		background: #fff;
		padding: 15px;
	}
	.wizdom-myTasksContent {
		padding: 0 20px;
	}
}

